<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; roops rock</span>
    </div>
</footer>
<%# toh less content wale page m bi to make sure ye neeche aaye we uses flexbox %>
